[Desktop Entry]
Type=X-Zim-CustomTool
Version=1.0
GenericName=
Name=export to jekyll
Comment=export this note to jekyll
Exec=
TryExec=
Icon=
MimeType=
Terminal=True
NoDisplay=false
X-Zim-ExecTool=/home/b08x/Workspace/syncopated-linux/tools/soundbot/zimjekyll.rb
X-Zim-ReadOnly=false
X-Zim-ShowInToolBar=false
X-Zim-ShowInContextMenu=None
X-Zim-ReplaceSelection=false

