GRUB_TIMEOUT=3
GRUB_TIMEOUT_STYLE=menu
GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
GRUB_DEFAULT=saved
GRUB_SAVEDEFAULT=false
GRUB_CMDLINE_LINUX_DEFAULT="loglevel=3 info"
{% if inventory_hostname != 'bender' %}
GRUB_CMDLINE_LINUX="rootfstype=btrfs"
{% else %}
{% endif %}
{% if inventory_hostname == 'lapbot' %}
GRUB_CMDLINE_LINUX="crashkernel=auto threadirqs rhgb net.ifnames=0 biosdevname=0 audit=0 delayacct systemd.restore_state=0"
{% else %}
GRUB_CMDLINE_LINUX="crashkernel=auto threadirqs rhgb net.ifnames=0 biosdevname=0 audit=0 delayacct"
{% endif %}
{% endif %}

GRUB_DISABLE_RECOVERY=True
GRUB_DISABLE_SUBMENU=True
GRUB_TERMINAL_OUTPUT=console
GRUB_PRELOAD_MODULES="part_gpt part_msdos"
GRUB_GFXMODE=1024x768
