GRUB_TIMEOUT=3
GRUB_TIMEOUT_STYLE=menu
GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
GRUB_DEFAULT=saved
GRUB_SAVEDEFAULT=true
{% if ansible_distribution == 'Fedora' %}
GRUB_CMDLINE_LINUX="crashkernel=auto threadirqs rhgb net.ifnames=0 biosdevname=0 audit=0 selinux=0"
{% else %}
{% if inventory_hostname in groups['desktop'] %}
GRUB_CMDLINE_LINUX="crashkernel=auto threadirqs rhgb net.ifnames=0 biosdevname=0 audit=0 i915.enable_guc=2 i915.enable_fbc=1"
{% else %}
GRUB_CMDLINE_LINUX="crashkernel=auto threadirqs rhgb net.ifnames=0 biosdevname=0 audit=0"
{% endif %}
{% endif %}
GRUB_DISABLE_RECOVERY=True
GRUB_DISABLE_SUBMENU=True
GRUB_TERMINAL_OUTPUT=console
GRUB_PRELOAD_MODULES="part_gpt part_msdos"
