[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tony
Comment=Tony
Categories=Audio;Video;AudioVideo;AudioVideoEditing;Editors;
Exec="/usr/local/bin/tony" %F
Icon=/usr/share/m17n/icons/dv-phonetic.png
