# Sonic Pi init file
# Code in here will be evaluated on launch.

SONIC = File.join(ENV['HOME'], ".sonic-pi")

LIBRARY = File.join(ENV['HOME'], "Library")

SOUNDS = File.join(LIBRARY, "Sounds/**")

SAMPLES = File.join(SOUNDS, "samples/**")
COLLECTIONS = File.join(SOUNDS, "collections/**")
DRUMKITS = File.join(SOUNDS, "drumkits/**")
LOOPS = File.join(SOUNDS, "loops/**")

load_snippets SONIC + "/snippets", true

# Run all files in the helpers subdirectory
Dir.glob(SONIC + "/helpers/**/*.{spi,rb}").each do |path|
  run_file path
end
