# Author: TamCore <philipp at tamcore dot eu>
[Unit]
Description=synchronization daemon

[Service]
Type=simple
PIDFile=/run/lsyncd.pid
ExecStart=/usr/bin/lsyncd -pidfile /run/lsyncd.pid /root/.config/lsyncd/lsyncd_home.conf.lua

[Install]
WantedBy=multi-user.target
