"*":
  "atom-material-ui":
    colors:
      abaseColor: "#aad875"
      accentColor: "#6f8853"
      genAccent: true
      predefinedColor: "Green"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
      stretchedTabs: true
    ui:
      panelContrast: true
      panelShadows: true
      useAnimations: false
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableAutoConfirmSingleSuggestion: false
    moveToCancel: true
    strictMatching: true
    suggestionListFollows: "Cursor"
  autosave:
    enabled: true
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
    ]
    projectHome: "/home/b08x/Workspace"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "vibrant-ink-ruby"
    ]
  editor:
    fontFamily: "Hack Nerd Font"
    fontSize: 15
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "0a3a0546-3e39-4217-b270-fd3a98acd9d0"
  "file-types":
    "**/.config.d/*": "source.shell"
    "**/.config/sway/**": "source.shell"
    "**/.zsh/*": "source.shell"
    "**/.zsh/**": "source.shell"
    "**/nnn/**": "source.shell"
    "*.ReaperOSC": "source.shell"
    "*.cfg": "source.shell"
    "*.conf": "source.shell"
    "*.j2": "source.python.jinja"
    "*.n3": "source.ruby"
    "*.rules": "source.shell"
    "*.yml": "source.yaml"
    "*config": "source.shell"
    ".zsh*": "source.shell"
  "highlight-colors":
    highlightCssNamedColors: false
  "markdown-toolbar":
    position: "bottom"
    size: "medium"
  "markdown-writer":
    fileExtension: ".md"
    relativeImagePath: true
    renameImageOnCopy: true
    siteEngine: "jekyll"
    siteImagesDir: "assets/images/"
    siteLocalDir: "/home/b08x/Workspace/syncopated-linux/website"
  "open-terminal-here":
    command: "kitty -d $PWD"
  "ruby-solargraph":
    commandPath: "/usr/bin/solargraph"
  "sb-atom-sonic-pi":
    sendOSCMessagesToGUI: true
  "spell-check":
    addKnownWords: true
    locales: [
      "en-US"
    ]
    noticesMode: "popup"
  tabs:
    addNewTabsAtEnd: true
    alwaysShowTabBar: true
    enableVcsColoring: true
  "tool-bar":
    visible: false
  "tree-view": {}
  welcome:
    showOnStartup: false
