// text editor
atom-text-editor {
  background-color: #0a0a0a;
  // font-family: "mononoki Nerd Font";
  line-height: 1.5em;
}

.line-number {
  color: #656462
}

.tab-bar {
   background-color: #0D0D0D;
   height: 2.9rem;
   border: 0.25mm solid #e09547;
   font-family: "mononoki Nerd Font";
   font-size: 15px;
}

.tab-bar:not([data-reactid]) .tab .title[data-path]::before {
  display: none;
  height: 0.5rem;
}

.tree-view {
 background-color:#0a0a0a;
 font-family: "mononoki Nerd Font";
 font-size: 18px;
 font-weight: normal !important;
}

.status-bar {
 font-family: Hack Nerd Font;
 font-size: 12px;
 line-height: 2em;
 height: 2em;
}

.selection {
  background-color: #000000;
  // outline: 1px dashed #f6117f;
  border: 0.25mm dashed #e0df47;
}

.selection .region {
  background-color: #000000;
}


// syntax in general
.syntax--comment {
  color: #6f6464;
}

.syntax--unquoted {
  color: #366ff5;
}

.syntax--entity.syntax--other.syntax--attribute-name {
  color: #dac92c;
  font-weight: bold;
}

// Markdown
.syntax--md {
   // color: #d93131;
   color: #6b9d9d;

  .syntax--unordered {
    color: #177e19;
  }

  .syntax--ordered {
    color: #3e40f4;
  }

  .syntax--underline.syntax--link {
    color: #446b12;
  }

  .syntax--hyperlink {
    color: #cdc228;
  }

  .syntax--heading-1 {
    color: #b6361f;
  }

  .syntax--heading-2 {
    color: #833a95;
  }

  .syntax--heading-3 {
    color: #91953a;
  }

}


.syntax--ruby.syntax--sonic-pi {
  color: #1dccd1;
}

.syntax--keyword.syntax--other.syntax--special-method.syntax--ruby.syntax--sonic-pi {
  color: #bb28cd;

}

// Ruby
.syntax--ruby {
  color: #e7e4e2;

  .syntax--variable {
    color: #D1E014;
    // opacity: 0.8;
  }

  .syntax--variable.syntax--constant {
    color: #d2965e;
    // opacity: 0.8;
  }

  .syntax--string.syntax--begin {
    color: #db1ad9;
  }

  .syntax--string.syntax--end {
    color: #db1ad9;
  }

  .syntax--variable.syntax--other.syntax--readwrite.syntax--global {
    color: #49E014;
    font-weight: lighter;
  }

  .syntax--constant.syntax--other.syntax--symbol {
    color: #7bee4c;
  }

  .syntax--name.syntax--function {
    // color: #0bb3d7;
    // color: #6a62c9;
    color: #e014c0;
    font-weight: 500;
  }

  .syntax--parameter.syntax--function {
    color: #6a62c9;
    // font-family: Nimbus Mono PS;
    opacity: 0.8;
  }

  .syntax--string {
    color: #2ab6d1;
  }

  .syntax--name.syntax--class {
    color: #a2544d;

  }

  .syntax--keyword {
    color: #DC1840;
      &.syntax--control {
        color: #f2562d;
      }
   }

}

// Yaml
.syntax--yaml {
  .syntax--name {
    color: #e01653;
  }
  .syntax--string.syntax--begin {
    color: #e01671;
  }
  .syntax--string.syntax--end {
    color: #e01671;
  }
  .syntax--string.syntax--unquoted {
    color: #2ad13b;
  }
  .syntax--string {
    color: #2a9ad1;
  }
  .syntax--boolean {
    color: #f6117f;
  }
  .syntax--constant {
    color: #40e218;
  }
  .syntax--keyword {
    color: #9518e2;
  }
}

// Ansble-Advanced
.syntax--ansible-advanced {
  .syntax--name {
    color: #e01653;
  }
  .syntax--attribute-name {
    color: #c5e334;
  }
  .syntax--string.syntax--begin {
    color: #e01671;
  }
  .syntax--string.syntax--end {
    color: #e01671;
  }
  .syntax--string.syntax--unquoted {
    color: #2ad13b;
  }
  .syntax--string {
    color: #2a9ad1;
  }
  .syntax--boolean {
    color: #f6117f;
  }
  .syntax--constant {
    color: #40e218;
  }
  .syntax--keyword {
    color: #9518e2;
  }
}

.syntax--python.syntax--jinja {
    color: #29b992;

    .syntax--other.syntax--jinja {
      color: #e014c0;
    }
}

//text
.syntax--text {
   color: #ebb616;

  .syntax--paragraph {
    color: #eb1696;
  }

  .syntax--unordered {
    color: #177e19;
  }

  .syntax--ordered {
    color: #3e40f4;
  }

  .syntax--underline.syntax--link {
    color: #446b12;
  }

  .syntax--hyperlink {
    color: #cdc228;
  }

  .syntax--heading-1 {
    color: #b6361f;
  }

  .syntax--heading-2 {
    color: #833a95;
  }

  .syntax--heading-3 {
    color: #91953a;
  }

}
