#!/usr/bin/env bash
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

/usr/bin/xmodmap -e "clear Lock"
/usr/bin/xmodmap -e "keysym Caps_Lock = F13"

numlockx on

guake &
