[Unit]
Description=Set max frequency-set for cpu and user rtc

[Service]
Type=oneshot
ExecStart=/usr/local/bin/freqset.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
