[Settings]
gtk-theme-name={{ theme.name }}
gtk-icon-theme-name={{ theme.icon }}
gtk-font-name={{ font.name }} {{ font.size }}
gtk-cursor-theme-name={{ theme.cursor }}
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=1
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle="{{ font.hintstyle }}"
