stay_alive           = 0
tint2_look           = 0
position_mode        = ipc
terminal_exec        = {{ user.terminal }}
terminal_args        = -e
csv_no_dirs          = 0
csv_single_window    = 1
columns              = 1
menu_width           = 600
menu_valign          = center
menu_halign          = center
menu_padding_top     = 24
menu_padding_right   = 2
menu_padding_bottom  = 5
menu_padding_left    = 2
menu_radius          = 0
menu_border          = 1
sub_hover_action     = 1
item_margin_y        = 5
item_height          = 30
item_padding_x       = 8
item_radius          = 0
item_border          = 0
sep_height           = 5
font                 = {{ font.name }} 14px
icon_size            = 24
color_menu_bg        = {{ colors.background }} 100
color_norm_bg        = {{ colors.background }} 0
color_norm_fg        = {{ colors.foreground }} 100
color_sel_bg         = {{ colors.selection_background }} 60
color_sel_fg         = {{ colors.selection_foreground }} 100
color_sep_fg         = {{ colors.active_border_color }} 40
