Terminal,kitty,kitty
Browser,google-chrome-stable %U,google-chrome
File manager,pcmanfm,soundbot
# Tune something,fmit,fmit
# Surfraw,^checkout(settings)
# Audio,^checkout(audio)
# ^tag(settings)
# Set Background Image,nitrogen
# ^tag(audio)
# Tune something,fmit,fmit
^sep()
@search,,3,3,150,20,2,left,top,auto,#000000 0,Type to Search
