Terminal,kitty,utilities-terminal
Browser,google-chrome-stable %U,google-chrome-stable
File manager,pcmanfm,system-file-manager
Tune something,fmit,fmit
Surfraw,^checkout(settings)
Audio,^checkout(audio)
^sep()
^tag(settings)
Set Background Image,nitrogen
^tag(audio)
Tune something,fmit,fmit
