# Author: TamCore <philipp at tamcore dot eu>
[Unit]
Description=synchronization daemon

[Service]
Type=simple
PIDFile=/run/user/{{ user.uid }}/lsyncd.pid
ExecStart=/usr/bin/lsyncd -pidfile /run/user/{{ user.uid }}/lsyncd.pid {{ user.home }}/.config/lsyncd/lsyncd.conf.lua

[Install]
WantedBy=multi-user.target
