# {{ ansible_managed }}
{% if ansible_lsb['id'] is defined and ansible_lsb['id'] == 'ManjaroLinux' %}
##
## Manjaro Linux default mirrorlist
## Generated on 2022-02-03 19:14
##
## Please use 'pacman-mirrors -f [NUMBER] [NUMBER]' to modify mirrorlist
## (Use 0 for all mirrors)
##
Server = https://mirrors.gigenet.com/manjaro/stable/$repo/$arch
Server = https://repo.ialab.dsu.edu/manjaro/stable/$repo/$arch
Server = https://mirror.math.princeton.edu/pub/manjaro/stable/$repo/$arch
Server = https://mirror.clarkson.edu/manjaro/stable/$repo/$arch
{% else %}
# With:       reflector -n 5 --score 5 -l 5 -f 5 -p https -c us
# When:       2022-02-04 00:45:10 UTC
# From:       https://archlinux.org/mirrors/status/json/
# Retrieved:  2022-02-04 00:44:11 UTC
# Last Check: 2022-02-04 00:27:59 UTC
Server = https://arlm.tyzoid.com/$repo/os/$arch
Server = https://america.mirror.pkgbuild.com/$repo/os/$arch
Server = https://mirror.lty.me/archlinux/$repo/os/$arch
Server = https://mirror.hackingand.coffee/arch/$repo/os/$arch
Server = https://mirror.theash.xyz/arch/$repo/os/$arch
{% endif %}
