{% if ansible_lsb['id'] is defined and ansible_lsb['id'] == 'ManjaroLinux' %}
Server = https://mirrors.gigenet.com/manjaro/stable/$repo/$arch
Server = https://mirror.0xem.ma/manjaro/stable/$repo/$arch
Server = https://manjaro.lucassymons.net/stable/$repo/$arch
Server = http://manjaro.grena.ge/stable/$repo/$arch
Server = http://ftp.tu-chemnitz.de/pub/linux/manjaro/stable/$repo/$arch
Server = https://ftpmirror1.infania.net/mirror/manjaro/stable/$repo/$arch
Server = http://mirror.xeonbd.com/manjaro/stable/$repo/$arch
Server = http://ftp.belnet.be/mirrors/manjaro/repos/stable/$repo/$arch
{% else %}
Server = https://mirror.umd.edu/archlinux/$repo/os/$arch
Server = https://mirror.wdc1.us.leaseweb.net/archlinux/$repo/os/$arch
Server = https://iad.mirrors.misaka.one/archlinux/$repo/os/$arch
Server = https://mirrors.mit.edu/archlinux/$repo/os/$arch
Server = https://mirror.pit.teraswitch.com/archlinux/$repo/os/$arch
{% endif %}
