#{{ ansible_managed }}

# {% for share in autofs_client.shares %}
# {{ share }}		-fstype=nfs4,rw,noacl,nocto,noatime,rsize=32768,wsize=32768	{{ autofs_client.host }}:{{ share }}
# {% endfor %}


#TODO within ansible template; account for exports that are in a subdirectory
b08x            -fstype=nfs4,rw,noacl,nocto,noatime,rsize=32768,wsize=32768     bender:/home/b08x
storage         -fstype=nfs4,rw,noacl,nocto,noatime,rsize=32768,wsize=32768     bender:/storage
media           -fstype=nfs4,rw,noacl,nocto,noatime,rsize=32768,wsize=32768     bender:/media
backups           -fstype=nfs4,rw,noacl,nocto,noatime,rsize=32768,wsize=32768     bender:/backups
