  local _old_path="$PATH"

# Local config
[[ -f ~/.zshenv.local ]] && source ~/.zshenv.local

if [[ $PATH != $_old_path ]]; then
  # `colors` isn't initialized yet, so define a few manually
  typeset -AHg fg fg_bold
  if [ -t 2 ]; then
    fg[red]=$'\e[31m'
    fg_bold[white]=$'\e[1;37m'
    reset_color=$'\e[m'
  else
    fg[red]=""
    fg_bold[white]=""
    reset_color=""
  fi

  cat <<MSG >&2
${fg[red]}Warning:${reset_color} your \`~/.zshenv.local' configuration seems to edit PATH entries.
Please move that configuration to \`.zshrc.local' like so:
  ${fg_bold[white]}cat ~/.zshenv.local >> ~/.zshrc.local && rm ~/.zshenv.local${reset_color}

(called from ${(%):-%N:%i})

MSG
fi

unset _old_path

export TEMP="/tmp"

{% if inventory_hostname == 'bender' %}
export TERM=xterm-256color
export TERMINAL=xterm-256color
{% else %}
export TERM="{{ user.terminal }}"
export TERMINAL="{{ user.terminal }}"
export TERMINFO="/usr/lib/terminfo"
export TERMCMD="$TERMINAL"
{% endif %}

export BROWSER="google-chrome-stable"
export PAGER=less

export NO_AT_BRIDGE=1

export VAMP_PATH="$HOME/.vamp"

export LADSPA_PATH="/usr/lib/ladspa"
export LADSPA_RDF_PATH="/usr/share/ladspa/rdf"

export ECASOUND=ecasound

export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH

export DISABLE_AUTO_TITLE=true

export HOSTNAME=`hostnamectl --static`

export WORKSPACE="$HOME/Workspace"

export ANSIBLE_HOME="$WORKSPACE/syncopated-linux/tools/ansible"
export ANSIBLE_CONFIG="$ANSIBLE_HOME/ansible.cfg"

export SOUNDS="$HOME/Library/Sounds"
export SOUNDFONTS="$HOME/Library/Soundfonts"
export STUDIO="$HOME/Studio"
export PROJECTS="$STUDIO/projects"
export SESSIONS="$STUDIO/sessions"

##################################

export USERSHARES_DIR="/var/lib/samba/usershares"
export USERSHARES_GROUP="home"

# For the graphical elements
export QT_SCALE_FACTOR=1.0
# To make the fonts readable
export QT_FONT_DPI=96
export QT_STYLE_OVERRIDE=Fusion

export NODE_PATH=/usr/lib/node_modules
