settings {
    logfile = "{{ user.home }}/.config/lsyncd/lsyncd.log",
    statusFile = "{{ user.home }}/.config/lsyncd/lsyncd.status",
    insist = true
}

{% if inventory_hostname == 'bender' %}
sync {
    default.rsyncssh,
    source = "{{ user.home }}",
    host = "{{ sync_host }}",
    targetdir = "{{ user.home }}",
    delete = "running",
    excludeFrom = "/home/exclude.list",
    delay = 5,
    rsync = {
            verbose = true,
            inplace = true,
            _extra = {
                    "-P",
                    "--itemize-changes",
                    "--stats",
                    "--delete-before",
                    "--backup-dir=.backup",
                    "--suffix=_bak",
                    "--info=progress2",
                    "--group",
                    "--owner"            }
    },
    ssh = {
            identityFile = "{{ user.home }}/.ssh/id_rsa",
            options = {
                    User = "{{ user.name }}",
                    StrictHostKeyChecking = "no",
                    Compression = "no",
                    Cipher = "aes256-gcm@openssh.com"
            },
            _extra = {
                    "-T",
                    "-c",
                    "aes256-gcm@openssh.com"
            }
    }
}
{% else %}

sync {
    default.rsync,
    source = "{{ user.home }}",
    target = "bender::b08x",
    delete = "running",
    excludeFrom = "/home/exclude.list",
    delay = 5,
    rsync = {
            verbose = true,
            inplace = true,
            _extra = {
                    "-P",
                    "--itemize-changes",
                    "--stats",
                    "--delete-before",
                    "--backup-dir=.backup",
                    "--suffix=_bak",
                    "--info=progress2",
                    "--group",
                    "--owner",
                    "--dry-run"            }
          }
}
{% endif %}
