settings {
    logfile = "/tmp/lsyncd.log",
    statusFile = "/tmp/lsyncd.status",
    insist = true
}

sync {
    default.rsyncssh,
    source = "{{ user.home }}/Library",
    host = "{{ sync_host }}",
    targetdir = "{{ user.home }}/Library",
    excludeFrom = "{{ user.home }}/exclude.list",
    delay = 5,
    rsync = {
            verbose = true,
            inplace = true,
            _extra = {
                    "--info=progress2"
            }
    },
    ssh = {
            identityFile = "{{ user.home }}/.ssh/id_rsa",
            options = {
                    User = "{{ user.name }}",
                    StrictHostKeyChecking = "no",
                    Compression = "no",
                    Cipher = "aes256-gcm@openssh.com"
            },
            _extra = {
                    "-T",
                    "-c",
                    "aes256-gcm@openssh.com"
            }
    }
}
