{
  "backup_device_uuid" : "10220ad0-d75c-4ac3-91e2-d3edaafc7455",
  "parent_device_uuid" : "",
  "do_first_run" : "False",
  "btrfs_mode" : "False",
  "include_btrfs_home_for_backup" : "False",
  "include_btrfs_home_for_restore" : "False",
  "stop_cron_emails" : "True",
  "btrfs_use_qgroup" : "True",
  "schedule_monthly" : "False",
  "schedule_weekly" : "False",
  "schedule_daily" : "False",
  "schedule_hourly" : "False",
  "schedule_boot" : "False",
  "count_monthly" : "2",
  "count_weekly" : "3",
  "count_daily" : "5",
  "count_hourly" : "6",
  "count_boot" : "5",
  "snapshot_size" : "36745168599",
  "snapshot_count" : "577402",
  "date_format" : "%Y-%m-%d %H:%M:%S",
  "exclude" : [
    "/home/*/.ansible/***",
    "/home/*/.atom/.apm/***",
    "/home/*/.atom/.atom-socket-secret*",
    "/home/*/.atom/blob-store/***",
    "/home/*/.atom/compile-cache/***",
    "/home/*/.atom/.node-gyp/***",
    "/home/*/.atom/nohup.out/***",
    "/home/*/.atom/packages/***",
    "/home/*/.atom/storage/***",
    "/home/*/**/cache",
    "/home/*/.cargo",
    "/home/*/.conky",
    "/home/*/.config/Atom",
    "/home/*/.config/google-chrome/***",
    "/home/*/.config/obmenu-generator/**",
    "/home/*/.config/lnav/**",
    "/home/*/.dbus/**",
    "/home/*/.fonts/**",
    "*.git",
    "/home/*/.ICEauthority",
    "/home/*/.kp",
    "/home/*/.lnav/**",
    "/home/*/.local/share/qutebrowser/webengine/**",
    "/home/*/.local/share/Trash/**",
    "/home/*/.log/**",
    "MetadataCaches/*",
    "/home/*/.mozilla/**",
    "/home/*/.oh-my-zsh/***",
    "/home/*/.pki/**",
    "__pycache__/*",
    ".ray-snapshots",
    "*.tdb",
    ".themes/**",
    ".vim/plugged/**",
    ".yard",
    ".zhistory",
    ".xsession-errors*",
    "Workspace/**",
    ".xsession-errors",
    "+ /home/b08x/**",
    "/root/**"
  ],
  "exclude-apps" : []
}
