#!/usr/bin/env bash
if test -f "$HOME/.Xresources"; then
    echo "merging ..."
    xrdb -merge "$HOME/.Xresources"
fi

/usr/bin/xmodmap -e "clear Lock"
/usr/bin/xmodmap -e "keysym Caps_Lock = F13"
# /usr/bin/xmodmap -e "keycode 74 = XF86Launch3 NoSymbol XF86Launch3"
# /usr/bin/xmodmap -e "keycode 73 = XF86Launch4 NoSymbol XF86Launch4"
# /usr/bin/xmodmap -e "keycode 163 = XF86LaunchB NoSymbol XF86LaunchB"

# # 
xset s off
xset -dpms
xset +fp /usr/share/fonts/75dpi
xset +fp /usr/share/fonts/100dpi

numlockx on

alsactl restore -f $HOME/.asound.state
