[TextView]
bullet_icon_size=GTK_ICON_SIZE_LARGE_TOOLBAR
indent=30
tabs=None
linespacing=3
wrapped-lines-linespacing=0
font=mononoki Nerd Font 14
justify=
background=#FFFFFF

[Tag strong]
weight=PANGO_WEIGHT_BOLD
foreground=#06659a

[Tag emphasis]
style=PANGO_STYLE_ITALIC
foreground=#a0b30b

[Tag mark]
background=#b86df2

[Tag strike]
strikethrough=True
foreground=grey
linespacing=10

[Tag pre]
foreground=#d14242
family=monospace
wrap-mode=GTK_WRAP_WORD_CHAR
indent=20

[Tag link]
foreground=#7022bf
underline=PANGO_UNDERLINE_SINGLE_LINE
font=Hack Nerd Font Mono Italic 12

[Tag tag]
foreground=#00cf8a

[Tag h1]
foreground=#3465A4
underline=PANGO_UNDERLINE_SINGLE
weight=PANGO_WEIGHT_BOLD
font=mononoki Nerd Font 20

[Tag h2]
foreground=#3465A4
weight=PANGO_WEIGHT_BOLD
font={{ font.name }} 18
linespacing=10

[Tag h3]
foreground=#3465A4
weight=PANGO_WEIGHT_BOLD
font={{ font.name }} 16

[Tag h4]
foreground=#3465A4
weight=PANGO_WEIGHT_BOLD
font={{ font.name }} 14

[Tag h5]
foreground=#3465A4
weight=PANGO_WEIGHT_BOLD
font={{ font.name }} 12

[Tag h6]
foreground=#3465A4
font={{ font.name }} 10

[Tag checked-checkbox]

[Tag xchecked-checkbox]

[Tag migrated-checkbox]

[Tag code]
