[Desktop Entry]
Version=1.0
Type=Application
Name=PluginTemplate
Comment=at.iem.plugins.PluginTemplate
Exec=PluginTemplate
Icon=iempluginsuite
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;iempluginsuite;
