[Desktop Entry]
Version=1.0
Type=Application
Name=FdnReverb
GenericName=Reverb
Comment=A Feedback-Delay-Network reverberation.
Exec=FdnReverb
Icon=iempluginsuite
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;iempluginsuite;
