[Desktop Entry]
Version=1.0
Type=Application
Name=MultiEQ
GenericName=Multichannel Equalizer
Comment=A simple multi-channel equalizer, filtering up to 64 audio channels.
Exec=MultiEQ
Icon=iempluginsuite
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;iempluginsuite;
