[Desktop Entry]
Version=1.0
Type=Application
Name=CoordinateConverter
GenericName=VST Coordinate Converter
Comment=Converts VST parameters from a spherical representation to a cartesian, and vice versa.
Exec=CoordinateConverter
Icon=iempluginsuite
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;iempluginsuite;
