[Desktop Entry]
Name=Sononym
Comment=Sound Manager
Exec=/opt/sononym/sononym
Terminal=false
Type=Application
Icon=sononym
Categories=AudioVideo;Audio;
