# *.git/COMMIT_EDITMSG
# *.git/FETCH_HEAD
# *.git/HEAD
# *.git/ORIG_HEAD
# *.git/branches
# *.git/description
# *.git/hooks
# *.git/index
# *.git/info
# *.git/lfs
# *.git/logs
# *.git/objects
# *.git/objects
# *.git/packed-refs
# *.git/refs
*.git
*.lock
*.tdb
*.xmp
*_bak/
*~
.ICEauthority
.TouchOSC/
.TouchOSCEditor/
.Trash-1000/
.Xauthority
.Xdefaults
.Xresources
.abduco/
.aliases
.ansible/
.aspell.en.prepl
.aspell.en.pws
.atom/
.audacity-data/
.backup/
.bash_history
.bash_logout
.bash_profile
.bashrc
.baudline/
.bundle/
.byobu/
.cache/
.calfrc
.cargo
.cecilia5/
.cmake/
.conan/
.config/0ad/
.config/Algonaut/
.config/Atom/
.config/Cabbage2/
.config/Cadence/
.config/Debauchee/
.config/Electron/
.config/Kvantum/
.config/Projucer/
.config/QtProject.conf
.config/REAPER/MetadataCaches/
.config/REAPER/ReaPack/cache/
.config/RaySession/
.config/Resonant DSP/
.config/SFZTools/
.config/Sononym/
.config/Thunar/
.config/Unknown*
.config/a2j/
.config/antimicrox/
.config/autostart/
.config/balena-etcher-electron/
.config/beets/
.config/caja/
.config/caja/scripts/
.config/catfish/
.config/celluloid/
.config/coc/
.config/darktable/
.config/dconf/
.config/deadbeef/
.config/deadbeef/playlists/
.config/enchant/
.config/falkTX/
.config/fmit/
.config/fontconfig/
.config/fontforge/
.config/gconf/
.config/glab-cli/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/guake/
.config/gwakeonlan/
.config/headlines/
.config/htop/
.i3/
.config/ibus/
.config/ingen/
.config/inkscape/
.config/jack/
.config/jacktrip/
.config/jgmenu/
.config/kitty/
.config/komorebi/
.config/lazydocker/
.config/libfm/
.config/linuxsampler.org/
.config/lkjb/
.config/lnav/
.config/lsyncd/
.config/matplotlib/
.config/menus/
.config/menutray/
.config/mimeapps.list
.config/mpv/
.config/nemo/
.config/neofetch/
.config/nitrogen/
.config/nnn/
.config/nomacs/
.config/ntk/
.config/nvim/
.config/obmenu-generator/**
.config/obs-studio/
.config/octopi/
.config/oomox/
.config/ossia/
.config/pamac/
.config/patchagerc
.config/pavucontrol.ini
.config/pcmanfm/
.config/picom/
.config/plank/
.config/polybar/
.config/pulse/
.config/qt5ct/
.config/qutebrowser/
.config/radiotray-ng/
.config/ranger/
.config/redshift/
.config/rncbc.org/
.config/rofi/
.config/rpan-studio/
.config/s/
.config/samplecat/
.config/seq66/
.config/sequencer64/
.config/sgtk-menu/
.config/sitala/
.config/snn.conf
.config/sonic-pi.net/
.config/sonic-visualiser/
.config/soundbot/
.config/sqlitebrowser/
.config/swami/
.config/systemd/
.config/systemd/user/
.config/terminator/
.config/tmux/
.config/tmuxinator/
.config/transmission/
.config/unburden-home-dir/
.config/vlc/
.config/vmpk.sourceforge.net/
.config/wal/
.config/xarchiver/
.config/xfce4/
.config/xpra/
.config/xreader/
.config/yay/
.config/zim/
.conky
.cortex/
.dbus/
.distrho/
.dmrc
.dots/
.fakexinerama
.fehbg
.fltk/
.fonts/
.gem/
.gitattributes
.gitconfig
.gitlab_shell_history
.gnome/
.gnupg/
.gnuplot-wxt
.grsync/
.gsutil/
.gtk-bookmarks
.gtkrc-2.0
.gvfs
.helm-synth/patches/Factory Presets/
.hex/
.hydrogen/data/cache/
.icons/
.installed
.ir_save
.jamin/
.java/
.jekyll-cache/
.kp
.lesshst
.lnav/**
.local/
.local/include/
.local/lib/
.local/share/
.local/share/Trash/**
.local/share/[Tt]rash
.local/share/gem/
.local/share/qutebrowser/webengine/**
.local/state/
.log/
.mix/
.mixxx/
.mkshrc
.moc/
.moonchild productions/
.mozilla/
.nmcli-history
.node_repl_history
.non-mixer/
.non/
.npm/
.oh-my-zsh/
.osync_workdir/
.parallel/
.pki/
.profile
.ray-snapshots
.ray_canvas.json
.remarkable/
.repoconfig/
.rvm/
.sass-cache/
.screenlayout
.screenlayout/
.solargraph/
.sonic-pi/log/
.sonic-pi/store/default/.git/
.sononym audioserver/
.sononym crawler/
.sooperlooper/
.soundgrain-init
.ssh/
.ssr/
.subversion/
.synaesthesia
.themes/
.thumbnails
.vamp/
.vim/
.vital/
.vnc/
.vpython*
.w3m/
.wget-hsts
.xprofile
.xsession-errors
.xsession-errors*
.yard
.zcompdump
.zcompdump-*
.zhistory
.zhistory.*
.zhistory.LOCK
.zlogin
.zotero/
.zsh/
.zshenv
.zshrc
Archive/
AudioVitamins/
Desktop/
Documents/BespokeSynth/
Downloads/
Library_temp/
Notebook/
SDKs/
Studio/algonaut/
Workspace/
__pycache__/*
archive/
dots_installer.rb
exclude.list
exclude_home.list
exclude_workspace.list
go/
gxloops/
idletime.sh
key_bindings.md
osync-batch.log
osync.*
symlink.sh
x11docker
