# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = {{ user.name }}
{% if inventory_hostname != 'archlinux' %}
	email = {{ user.email }}
{% else %}
	email = soundbot@synconix.io
{% endif %}
[color]
	ui = auto
[pull]
	rebase = false
[merge]
	tool = xxdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
[init]
	defaultBranch = main
