#!/usr/bin/env bash
if test -f "$HOME/.Xresources"; then
    echo "merging ..."
    xrdb -merge "$HOME/.Xresources"
fi

/usr/bin/xmodmap -e "clear Lock"
/usr/bin/xmodmap -e "keysym Caps_Lock = F13"
/usr/bin/xmodmap -e "keycode 74 = XF86Launch3 NoSymbol XF86Launch3"

# {% if ansible_facts['hostname'] == 'lapbot' %}
# /usr/bin/xmodmap -e "keycode 107 = XF86AudioMute NoSymbol XF86AudioMute"
#
# /usr/bin/xmodmap -e "keycode 78 = XF86AudioLowerVolume NoSymbol XF86AudioLowerVolume"
#
# /usr/bin/xmodmap -e "keycode 127 = XF86AudioRaiseVolume NoSymbol XF86AudioRaiseVolume"
# {% else %}
# {% endif %}

xset s off
xset -dpms
xset +fp /usr/share/fonts/75dpi
xset +fp /usr/share/fonts/100dpi


numlockx on

guake &
{% if ansible_facts['hostname'] == 'lapbot' %}
nm-applet &
{% else %}
{% endif %}
