Xft.dpi:       96
Xft.antialias: 1
Xft.hinting:   1
Xft.rgba:      rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: {{ theme.cursor }}
Xcursor.size:                     0

xterm.termName:       xterm-256color

*pointerColor:      #1ABB9B
*faceName:          {{ font.name }}
*faceSize:          14

! Only select text
*highlightSelection: true
! Remove trailing spaces
*trimSelection: true

*reverseVideo:      on
*selectToClipboard: true
! Lines of output that you can scroll back over
*saveLines: 8000
! Turn the scrollbar on, and put it on the right
*scrollBar: true
*rightScrollBar: true

*.vt100.locale: true
*.vt100.colorULMode: true
*.vt100.colorUL: rgb:e4/e4/e4
*.vt100*alternateScroll: true

! fix C-h not working
! https://www.emacswiki.org/emacs/BackspaceKey
*ttyModes: erase ^?
*.vt100*translations:       #override \
   <Key>BackSpace: string(0x7f)
*backarrowKeyIsErase:      true

xterm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)



! select entire urls
*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

XTerm*foreground:   {{ colors.background_alt}}
UXTerm*foreground:  {{ colors.background_alt}}
XTerm*background:   {{ colors.foreground }}
UXTerm*background:  {{ colors.foreground }}
XTerm*cursorColor:  {{ colors.cursor }}
UXTerm*cursorColor: {{ colors.cursor }}

!! black dark/light
*color0:                          {{ colors.color0 }}
*color8:                          {{ colors.color8 }}

!! red dark/light
*color1:                          {{ colors.color1 }}
*color9:                          {{ colors.color9 }}

!! green dark/light
*color2:                          {{ colors.color2 }}
*color10:                         {{ colors.color10 }}

!! yellow dark/light
*color3:                          {{ colors.color3 }}
*color11:                         {{ colors.color11 }}

!! blue dark/light
*color4:                          {{ colors.color4 }}
*color12:                         {{ colors.color12 }}

!! magenta dark/light
*color5:                          {{ colors.color5 }}
*color13:                         {{ colors.color13 }}

!! cyan dark/light
*color6:                          {{ colors.color6 }}
*color14:                         {{ colors.color14 }}

!! white dark/light
*color7:                          {{ colors.color7 }}
*color15:                         {{ colors.color15 }}
