#!/usr/bin/env bash
if test -f "$HOME/.Xresources"; then
    echo "merging ..."
    xrdb -merge "$HOME/.Xresources"
fi

/usr/bin/xmodmap -e "clear Lock"
/usr/bin/xmodmap -e "keysym Caps_Lock = F13"

xset s off
xset -dpms

numlockx on

guake &
{% if ansible_facts['hostname'] == 'lapbot' %}
nm-applet &
{% else %}
{% endif %}
kitty &
