Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

xterm.termName:       xterm-256color

*pointerColor:      #1ABB9B
*faceName:          Hack Nerd Font
*faceSize:          12

! Only select text
*highlightSelection: true
! Remove trailing spaces
*trimSelection: true

*reverseVideo:      on
*selectToClipboard: true
! Lines of output that you can scroll back over
*saveLines: 8000
! Turn the scrollbar on, and put it on the right
*scrollBar: true
*rightScrollBar: true

*.vt100.locale: true
*.vt100.colorULMode: true
*.vt100.colorUL: rgb:e4/e4/e4
*.vt100*alternateScroll: true

! fix C-h not working
! https://www.emacswiki.org/emacs/BackspaceKey
*ttyModes: erase ^?
*.vt100*translations:       #override \
   <Key>BackSpace: string(0x7f)
*backarrowKeyIsErase:      true

xterm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)



! select entire urls
*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

emacs*foreground:   #e0aa7c
emacs*background:   #0F1110
URxvt*foreground:   #e0aa7c
XTerm*foreground:   #0F1110
UXTerm*foreground:  #585858
URxvt*background:   [100]#0F1110
XTerm*background:   #8F350A
UXTerm*background:  #0F1110
URxvt*cursorColor:  #e0aa7c
XTerm*cursorColor:  #e0aa7c
UXTerm*cursorColor: #e0aa7c
URxvt*borderColor:  [100]#0F1110
*background:                      #9230ff
*foreground:                      #0d0c0c
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #222D31
*color8:                          #585858

!! red dark/light
*color1:                          #ab4642
*color9:                          #ab4642

!! green dark/light
*color2:                          #7E807E
*color10:                         #8D8F8D

!! yellow dark/light
*color3:                          #f7ca88
*color11:                         #f7ca88

!! blue dark/light
*color4:                          #7cafc2
*color12:                         #7cafc2

!! magenta dark/light
*color5:                          #ba8baf
*color13:                         #ba8baf

!! cyan dark/light
*color6:                          #1ABB9B
*color14:                         #1ABB9B

!! white dark/light
*color7:                          #d8d8d8
*color15:                         #f8f8f8
