;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;==========================================================

[colors]
;; main colors
background = #282828
background-alt = #2828282f
foreground = #282828
foreground-alt = #EBDBB2
primary = #ffb52a
secondary = #e60053
alert = #bd2c40

white = #FFFFFF
black = #000000
red = #EC7875
redish = #e22ca9
pink = #EC6798
purple = #BE78D1
blue = #75A4CD
cyan = #00C7DF
teal = #00B19F
green = #61C766
lime = #B9C244
highst_green = #689d6a
yellow = #EBD369
amber = #EDB83F
orange = #E57C46
brown = #AC8476
gray = #454340
gray2 = #3f3f3f
indigo = #6C77BB
blue-gray = #6D8895

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[bar/HDMI1]
monitor = ${env:MONITOR:HDMI1}
width = 100%
height = 24

offset-x = 0%
offset-y = 0%
radius-top = 0.0
radius-bottom = 0.0

fixed-center = false
bottom = true

background = ${colors.background-alt}
foreground = ${colors.foreground}

line-size = 0
line-color = ${colors.background}

border-size = 1
border-color = ${colors.background}

padding-left = 0
padding-right = 1

module-margin-left = 0
module-margin-right = 0

font-0 = "Feather:size=10;2"
font-1 = "Hack Nerd Font:pixelsize=11;2"

modules-left = jgmenu i3
modules-center =
{% if ansible_facts['hostname'] == 'lapbot' %}
modules-right = battery date
{% else %}
modules-right = date
{% endif %}

tray-position = right
tray-padding = 2
;tray-background = #0063ff
enable-ipc = true

;wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize

; overline-size = 5
; underline-size = 4

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[bar/HDMI2]
monitor = ${env:MONITOR:HDMI2}
width = 100%
height = 24

offset-x = 0%
offset-y = 0%
radius-top = 0.0
radius-bottom = 0.0

fixed-center = false
bottom = true

background = ${colors.background-alt}
foreground = ${colors.foreground}

line-size = 0
line-color = ${colors.background}

border-size = 1
border-color = ${colors.background}

padding-left = 0
padding-right = 1

module-margin-left = 0
module-margin-right = 0

font-0 = "Feather:size=10;2"
font-1 = "Hack Nerd Font:pixelsize=11;2"

modules-left = i3
modules-center =
modules-right = date

tray-position = right
tray-padding = 2
;tray-background = #0063ff
enable-ipc = true
wm-restack = i3
;override-redirect = true
scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev
cursor-click = pointer
cursor-scroll = ns-resize
; overline-size = 5
; underline-size = 4

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[bar/eDP1]
inherit = bar/HDMI1

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
[bar/VGA1]
inherit = bar/HDMI1

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/jgmenu]
type = custom/text
content-padding = 2
content = "   "
click-left = "jgmenu_run >/dev/null 2>&1 &"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/menu]
type = custom/menu

;If true, <label-toggle> will be to the left of the menu items (default).
;If false, it will be on the right of all the items.
expand-right = true

; "menu-LEVEL-N" has the same properties as "label-NAME" with
; the additional "exec" property
;
; Available exec commands:
;   menu-open-LEVEL
;   menu-close
; Other commands will be executed using "/usr/bin/env sh -c $COMMAND"
menu-0-0 ="  Menu "
menu-0-0-background = ${colors.gray}
menu-0-0-foreground = ${colors.redish}
menu-0-0-exec = rofi -no-lazy-grab -show drun -modi run,drun,window &

menu-0-1 =" Files "
menu-0-1-background = ${colors.gray}
menu-0-1-exec = Thunar &

menu-0-2 =" Terminal "
menu-0-2-background = ${colors.gray}
menu-0-2-exec = terminator -b &

menu-0-3 =" mixers "
menu-0-3-background = ${colors.gray}
menu-0-3-exec = terminator -e "tmuxinator start login"

menu-0-4 =" cpufreq "
menu-0-4-background = ${colors.gray}
menu-0-4-exec = menu-open-1

menu-1-0 =" powersave "
menu-1-0-background = ${colors.indigo}
menu-1-0-exec = echo powersave | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor

menu-1-1 =" performace "
menu-1-1-background = ${colors.redish}
menu-1-1-exec = echo performance | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor

; Available tags:
;   <label-toggle> (default) - gets replaced with <label-(open|close)>
;   <menu> (default)
; Note that if you use <label-toggle> you must also include
; the definition for <label-open>

format = <label-toggle><menu>
; format-overline = ${colors.background}
; format-underline = ${colors.background}

label-open = 
label-open-background = ${colors.highst_green}
label-open-padding = 1
label-close = 
label-close-background = ${colors.red}
label-close-padding = 1

; Optional item separator
; Default: none
;label-separator = " | "


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_


[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/title]
type = internal/xwindow

format = <label>
format-background = ${colors.shade2}
format-foreground = ${colors.modulefg}
format-padding = 2

label = %title%
label-maxlen = 30

;;label-empty = Soundbot
;;label-empty-foreground = #707880

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/workspaces]
type = internal/xworkspaces

pin-workspaces = true
enable-click = true
enable-scroll = true

label-active = 
label-occupied = 
label-urgent = 
label-empty = 

format = <label-state>

label-monitor = %name%
label-active-foreground = ${colors.primary}
label-occupied-foreground = ${colors.redish}
label-urgent-foreground = ${colors.red}
label-empty-foreground = ${colors.foreground}

label-active-padding = 2
label-urgent-padding = 2
label-occupied-padding = 2
label-empty-padding = 2

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/i3]
type = internal/i3

index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
pin-workspaces = true
enable-click = true

format = <label-state> <label-mode>
format-prefix-padding = 1
; format-overline = ${colors.background}
; format-underline = ${colors.background}

label-mode = %mode%
label-mode-padding = 2

; label-mode-foreground = #000

; label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index%
lable-focused-foreground = ${colors.white}
label-focused-background = ${colors.amber}
;;label-focused-underline = ${colors.orange}
label-focused-padding = 1

; unfocused = Inactive workspace on any monitor
label-unfocused = %index%
label-unfocused-foreground = ${colors.gray}
label-unfocused-padding = 1

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-foreground = ${colors.red}
; label-visible-background = ${self.label-focused-background}
; label-visible-underline =${colors.gray}
label-visible-padding = 1

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-foreground = ${colors.black}
label-urgent-background = ${colors.redish}
label-urgent-padding = 1

; Separator in between workspaces
; label-separator = |

[module/date]
type = internal/date
interval = 1

; Optional time format
time = "%H:%M"

; if `date-alt` or `time-alt` is defined, clicking
; the module will toggle between formats
;;date-alt = %A, %d %B %Y
time-alt = "%a, %d %b %Y"

; Available tags:
;   <label> (default)
;format = <label>
;format-prefix = 
;format-prefix-background = ${colors.amber}
;format-prefix-padding = 1
;format-overline = ${colors.background}
;format-underline = ${colors.background}

; Available tokens:
;   %date%
;   %time%
; Default: %date%
label = %time%
label-foreground = ${colors.foreground}
label-background = ${colors.amber}
label-padding = 1

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = BL

bar-width = 10
bar-indicator = |
bar-indicator-foreground = #fff
bar-indicator-font = 2
bar-fill = ─
bar-fill-font = 2
bar-fill-foreground = #9f78e1
bar-empty = ─
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

[module/alsa]
type = internal/alsa


format-volume = <ramp-volume> <label-volume>
format-volume-background = ${colors.background}
format-volume-foreground = ${colors.lime}
format-volume-padding = 2

label-volume = %percentage%%

format-muted-prefix = 
label-muted = "  Muted"
format-muted-background = ${colors.background}
format-muted-foreground = ${colors.lime}
format-muted-padding = 1

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

[module/battery]
type = internal/battery

full-at = 99

battery = BAT0
adapter = AC

poll-interval = 2
time-format = %I:%M

format-charging = <animation-charging> <label-charging>
format-charging-background = ${colors.indigo}
format-charging-foreground = ${colors.foreground}
format-charging-padding = 1

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-background = ${colors.secondary}
format-discharging-foreground = ${colors.foreground}
format-discharging-padding = 1

label-charging = %percentage%%
label-discharging = %percentage%%

label-full = Charged
label-full-background = ${colors.secondary}
label-full-foreground = ${colors.foreground}
label-full-padding = 1

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 
ramp-capacity-10 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-5 = 

animation-charging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #f50a4d
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.secondary}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.foreground-alt}

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 0
margin-bottom = 0
