*.lock
*.tdb
*.xmp
*~
.ICEauthority
.TouchOSC/
.Trash-1000/
.Xauthority
.Xdefaults
.Xresources
.abduco/
.aliases
.ansible/
.atom/
.audacity-data/
.backup
.bash_history
.bash_logout
.bash_profile
.bashrc
.baudline/
.bundle/
.cache/
.calfrc
.cargo
.cmake/
.conan/
.config/Atom
.config/Atom/
.config/Debauchee/
.config/Electron/
.config/Kvantum/
.config/QtProject.conf
.config/REAPER/MetadataCaches/
.config/REAPER/ReaPack/cache/
.config/RaySession/
.config/Resonant DSP/
.config/SFZTools/
.config/Sononym/
.config/Thunar/
.config/a2j/
.config/antimicrox/
.config/celluloid/
.config/coc/
.config/dconf/
.config/fmit/
.config/fontconfig/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/guake/
.config/htop/
.config/i3/
.config/ibus/
.config/ingen/
.config/jacktrip/
.config/jgmenu/
.config/kitty/
.config/libfm/
.config/linuxsampler.org/
.config/lnav/
.config/lnav/**
.config/lsyncd/
.config/menus/
.config/mimeapps.list
.config/mpv/
.config/nitrogen/
.config/nnn/
.config/ntk/
.config/nvim/
.config/obmenu-generator/**
.config/octopi/
.config/patchagerc
.config/pavucontrol.ini
.config/pcmanfm/
.config/picom/
.config/polybar/
.config/pulse/
.config/qt5ct/
.config/qutebrowser/
.config/radiotray-ng/
.config/ranger/
.config/redshift/
.config/rncbc.org/
.config/rofi/
.config/rpan-studio/
.config/s/
.config/snn.conf
.config/sonic-pi.net/
.config/soundbot/
.config/systemd/user/
.config/terminator/
.config/transmission/
.config/vlc/
.config/vmpk.sourceforge.net/
.config/xarchiver/
.config/xfce4/
.config/yay/
.config/zim/
.conky
.dbus/
.dmrc
.fehbg
.fltk/
.fonts/
.gem/
.gitconfig
.gnome/
.gnupg/
.grsync/
.gtk-bookmarks
.gtkrc-2.0
.gvfs
.helm-synth/patches/Factory Presets/
.hex/
.icons/
.installed
.jamin/
.jekyll-cache/
.kp
.lesshst
.lnav/**
.local/
.local/include/
.local/lib/
.local/share/
.local/share/Trash/**
.local/share/[Tt]rash
.local/share/gem/
.local/share/qutebrowser/webengine/**
.local/state/
.log/
.mix/
.mixxx/
.mkshrc
.moc/
.nmcli-history
.non-mixer/
.oh-my-zsh/
.osync_workdir/
.pki/
.profile
.ray-snapshots
.ray_canvas.json
.rvm/
.sass-cache/
.screenlayout/
.solargraph/
.sonic-pi/log/
.sonic-pi/store/default/.git/
.sononym audioserver/
.sononym crawler/
.sooperlooper/
.ssh/
.subversion/
.themes/
.thumbnails
.vamp/
.vim/
.vital/
.w3m/
.wget-hsts
.xprofile
.xsession-errors
.xsession-errors*
.yard
.zcompdump-*
.zhistory
.zhistory.*
.zhistory.LOCK
.zlogin
.zsh/
.zshenv
.zshrc
AudioVitamins/
Desktop/
__pycache__/*
archive/
dots_installer.rb
exclude.list
exclude_home.list
exclude_workspace.list
gxloops/
idletime.sh
key_bindings.md
osync.workspace_sync.log
symlink.sh
