#!/bin/sh
{% if inventory_hostname == 'thinkbot'%}
xrandr --output eDP1 --primary --mode 1920x1080 --pos 0x1080 --rotate normal --output HDMI1 --mode 1920x1080 --pos 0x0 --rotate normal
{% else %}
xrandr --output DP1 --off --output DP2 --off --output HDMI1 --primary --mode 1920x1080 --pos 1920x0 --rotate normal --output HDMI2 --mode 1920x1080 --pos 0x0 --rotate normal --output VGA1 --off --output VIRTUAL1 --off
{% endif %}

if [ "$?" -ne 0 ]; then
  notify-send -u critical "monitor reconfiguration was not successful"
else
  $HOME/.config/i3/scripts/polybar.sh
  nitrogen --restore
fi
