# tmux

Ctrl+B

+---------+--------------------------------------------------+
| command | action                                           |
+=========+==================================================+
| &       | kill the current window                          |
+---------+--------------------------------------------------+
| 0 to 9  | select window                                    |
+---------+--------------------------------------------------+
| f       | search for text in open windows                  |
+---------+--------------------------------------------------+
| n       | next window                                      |
+---------+--------------------------------------------------+
| p       | previous window                                  |
+---------+--------------------------------------------------+
| x       | kill the current pane                            |
+---------+--------------------------------------------------+
| "       | Split the current pane into two, top and bottom. |
+---------+--------------------------------------------------+
| %       | Split the current pane into two, left and right. |
+---------+--------------------------------------------------+
| :       | enter tmux command prompt                        |
+---------+--------------------------------------------------+
| c       | create a new window                              |
+---------+--------------------------------------------------+
| d       | detach from client                               |
+---------+--------------------------------------------------+
| x       | kill the current pane                            |
+---------+--------------------------------------------------+

+---------+--------------------------------------------------+
# vim

:%s/replace/with_this/g    | search and replace all
