;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█░░░█▀█░█▀▄░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░░░█░█░█▀▄░▀▀█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀│
;; │░Created░By░Aditya░Shakya░@adi1090x░░░░░░░░░░░░░░░░░░░░░░░░░│
;; └────────────────────────────────────────────────────────────┘

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[color]

;; Use pywal.sh in scripts directory to use colors from an image/wallpaper.

;; main colors
background = {{ colors.background }}
foreground = {{ colors.foreground }}
sep = {{ colors.color0 }}

white = {{ colors.white }}
black = {{ colors.black }}
red = {{ colors.red }}
pink = {{ colors.pink }}
purple = {{ colors.purple }}
blue = {{ colors.blue }}
cyan = {{ colors.cyan }}
teal = {{ colors.teal }}
green = {{ colors.green }}
lime = {{ colors.lime }}
yellow = {{ colors.yellow }}
amber = {{ colors.amber }}
orange = {{ colors.orange }}
brown = {{ colors.brown }}
indigo = {{ colors.indigo }}
gray = {{ colors.gray }}
blue-gray = {{ colors.blue_gray }}

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
