[Unit]
Description=systemd unit for jack_control
After=pulseaudio.service

[Service]
Type=oneshot
#User=b08x
#Group=b08x
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/jack_control
ExecStart=/usr/bin/jack_control start
#ExecStartPre="$HOME/.config/systemd/user/jack_control-prestart.sh"
#ExecStartPost="$HOME/.config/systemd/user/jack_control-poststart.sh"
ExecStop=/usr/bin/jack_control exit
RemainAfterExit=true
#Restart=always
#WorkingDirectory=/

# When stopping, how long to wait before giving up and sending SIGKILL?
# Keep in mind that SIGKILL on a process can cause data loss.
TimeoutStopSec=infinity

[Install]
WantedBy=default.target
